.users-list {
  color: white;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Usersphoto {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  z-index: 1;

  border: 2px solid #edf1f5;
  filter: drop-shadow(0 0 8px #96c5f4);
}
.list {
  gap: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
 .content-container {
     display: flex;
     justify-content: space-between;
     padding: 20px;
 }

 .users-container,
 .theater-container {
     flex: 1;
     margin: 0 10px;
 }

 .list {
     list-style-type: none;
     padding: 0;
 }

 .users-list,
 .theater-list {
     cursor: pointer;
     margin-bottom: 10px;
 }

.actor {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.actor img {
    width: 100px;

    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.actor h3 {
    margin: 10px 0;
}