#root {
  background-color: black;
}
.profile-container {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
 justify-content: center;
 gap: 10rem;
}
.photo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.bio-container{
    width: 100vh;
   
}
.followers-container {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}
.news-container {
    margin-top: 10vh;
    /* padding-top: 2vh; */
  background-color: #b0baba2c;
  display: flex;
  justify-content: center;
 height: 4vh;
  gap: 5rem;
}
.photo {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  z-index: 1;

  border: 2px solid #edf1f5;
  filter: drop-shadow(0 0 8px #96c5f4);
}
.photoProfile-gradiant {
  position: relative;

  display: inline-block;
}

.posts {
  cursor: pointer;
}


.addPost {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 55px;
}

.plus-icon {
  position: absolute;
  left: 50px;
  
  top: 28%;
  transform: translateY(-30%);
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.quote{
    font-style: italic;
}
.name{
    
        filter: drop-shadow(0 0 8px #96c5f4);
}

.close-button{
  color: white;
  position: absolute;
  z-index: 2;
  left: 95%;
  top: 2%;
  
}

.posts {
  color: white;
  text-decoration: none;
  /* font-size: 25px; */
  border: none;
  background: none;
  /* font-weight: 600; */
  font-family: 'Poppins', sans-serif;
}

.posts::before {
  margin-left: auto;
}

.posts::after,
.posts::before {
  content: '';
  width: 0%;
  height: 2px;
  background: white;
  filter: drop-shadow(0 0 8px #96c5f4);
  display: block;
  transition: 0.5s;
}

.posts:hover::after,
.posts:hover::before {
  width: 100%;
}