.post-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.post{
    width: 50vh;
    height: 50vh;
    position: relative;
    display: inline-block;
}
.image{
    width: 40vh;
    height: 40vh;
}
.selectedImg{
    width: 40vh;
        height: 40vh;
}

.newPost {
    position: fixed;
   
    top: 50%;
    
    left: 50%;
   
    transform: translate(-50%, -50%);
   
    background: #fff;
    padding: 20px;
}



.post .post-settings {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-62%);
    display: none;
}

.post:hover .post-settings {
    display: block;
   
}
.post-settings{
background-color: #fff;
    width: 80%;
    
}