.post-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 10vh;
}
/* .image-container {
  position: relative;
} */
.post {
  width: 70vh;
  height: 70vh;
  position: relative;
  display: inline-block;
}
.image {
  width: 65vh;
  height: 65vh;
  border: 2px solid #edf1f5;
  filter: drop-shadow(0 0 8px #96c5f4);
}
.selectedImg {
  width: 40vh;
  height: 40vh;
}

.newPost {
  position: fixed;
  z-index: 2;

  top: 50%;

  left: 50%;

  transform: translate(-50%, -50%);

  background: #fff;
  padding: 20px;
}

.post-actions {
  position: absolute;
 right: 0;
 bottom: -10px;

}

.likes {
  display: flex;
  gap: 2px;
  padding-top: 5px;
  color: white;
  font-size: 18px;
  position: absolute;
  padding-left: 5px;
  z-index: 1;
  cursor: pointer;
}
.clichedPost-container {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
 
top: 50%; 
/* width: 400px; */
   left: 50%;
   transform: translate(-50%, -50%); 
  /* transform: translate(-10%, -80%); */
}
.clickedPost {
  z-index: 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;

  width: 400px;
  background-color: #fff;
}
.clickedPost-caption {
  position: relative;
  background-color: rgba(0, 0, 0, 0.813);
  font-size: 12px;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.clickedPost-img {
  width: 400px;
  height: 400px;
  border: 2px solid #edf1f5;
  filter: drop-shadow(0 0 8px #96c5f4);
}
.caption-overlay {
  position: absolute;
  display: none;

  background-color: rgba(0, 0, 0, 0.5);

  overflow: hidden;
  transition: top 0.3s;
  
  width: 90%;

  text-overflow: ellipsis;
}
.post:hover .caption-overlay {
  display: flex;
  justify-content: center;
  align-items: center;

  transform: translateX(-31%);
  left: 30%;
  bottom: 5%;
}
.caption {
  font-size: 14px;
}
.date {
  font-size: 10px;
}

.showLeft {
  color: #fff !important;
}



.icons li {
  background: none repeat scroll 0 0 #fff;
  height: 7px;
  width: 7px;
  line-height: 0;
  list-style: none outside none;
  margin-right: 15px;
  margin-top: 3px;
  vertical-align: top;
  border-radius: 50%;
  pointer-events: none;
  z-index: 1;
}

.btn-left,
.btn-right {
  position: absolute;
}

.dropbtn {
  left: 55vh;

  color: white;
  font-size: 2px;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.dropdown {
  position: absolute;
}

.dropdown-content {
  position: relative;
  display: none;

  background-color: #f9f9f9;

  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: 50vh;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #f1f1f1;
}

.dropbtn:hover + .dropdown-content,
.dropdown-content:hover {
  display: block;
}
.heart {
  cursor: pointer;
  color: #ccc;
  font-size: 28px;
  position: absolute;
  padding-left: 5px;
  z-index: 1;
}

.heart.liked {
  color: white;
}
.modal-container {
position: absolute;
  
  left: 50%;
  transform: translate(-50%, -50%);
 
  z-index: 5;
  
  display: flex;
  justify-content: center; 
  
  height: 200%;
  width: 100%; 
  
  background: rgba(0, 0, 0, 0.5);
  
}

.modal-close-button {
  
  position: absolute;
 width: 20px;
    height: 20px;
    line-height: 20px; 
    text-align: center; 
    background-color: #fff; 
    color: #000; 
    font-size: 16px; 
    border-radius: 15px; 
    cursor: pointer;

top: 5px;
left: 93%;
z-index: 10;
}

.post-author {
  
  color: #979595;
 
  font-size: 0.9rem;
 
  margin-right: 10px;
 cursor: pointer;
}

.newPost-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.newPost {
  background-color: #333;
  /* Темный фон модального окна */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  /* Добавляем тень для объемности */
  width: 400px;
  /* Ширина окна */
}

.newPost img {
  max-width: 100%;
  /* Чтобы изображение не выходило за границы */
  height: auto;
  margin-bottom: 20px;
}

.newPost input[type="text"],
.newPost input[type="file"] {
  width: 100%;
  /* Полная ширина */
  padding: 10px;
  margin-bottom: 10px;
  /* Отступ снизу */
  border-radius: 4px;
  border: 1px solid #ddd;
  /* Граница поля ввода */
  box-sizing: border-box;
  /* Чтобы padding не влиял на общую ширину */
}

.newPost button {
  padding: 10px 15px;
  margin-right: 10px;
  /* Отступ справа */
  background-color: #007bff;
  /* Синий цвет кнопки */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.newPost button:hover {
    background-color: #0056b3}